/problema1/Estudiante/nbproject/private/
/problema1/Estudiante/build/
/problema1/Estudiante/dist/
/problema2/ProfesorInstituto/nbproject/private/
/problema2/ProfesorInstituto/build/
/problema2/ProfesorInstituto/dist/
/problema3/Matricula/nbproject/private/
/problema3/Matricula/build/
/problema3/Matricula/dist/
/problema4/Banco/nbproject/private/
